# Python
__pycache__/
*.py[cod]
*.log

# Poetry
/.venv/
/.venv/
.poetry/

# Docker
/.mypy_cache/
/.pytest_cache/
.DS_Store
.dockerignore
.env
.env.local
.env.production
.env.test
*.db
*.db-journal

# Ruff
.ruff_cache/